* {
  box-sizing: border-box;
}


html {
  font-family: "Ubuntu", sans-serif;

  --color-gray-50: rgb(243, 236, 230)
  --color-gray-100: rgb(229, 222, 213);
  --color-gray-200: rgb(204, 199, 188);
  --color-gray-300: rgb(179, 174, 163);
  --color-gray-400: rgb(153, 148, 137);
  --color-gray-500: rgb(128, 123, 112);
  --color-gray-600: rgb(102, 97, 86);
  --color-gray-700: rgb(77, 72, 60);

  --color-primary-50: rgb(253, 244, 200);
  --color-primary-100: rgb(250, 234, 150);
  --color-primary-200: rgb(245, 224, 100);
  --color-primary-300: rgb(240, 214, 50);
  --color-primary-400: rgb(235, 204, 0);
  --color-primary-500: rgb(230, 194, 0);
  --color-primary-600: rgb(225, 184, 0);
  --color-primary-700: rgb(220, 174, 0);

  --color-primary-200-contrast: rgb(100, 46, 2);
  --color-primary-500-contrast: white;

  --color-error-100: rgb(255, 192, 180);
  --color-error-500: rgb(255, 102, 102);

  --color-primary-500-bg: rgb(63, 60, 58);

  --space-1 : 0.25rem;
  --space-2 : 0.5rem;
  --space-3 : 0.75rem;
  --space-4 : 1rem;
  --space-5 : 1.25rem;
  --space-6 : 1.5rem;
  --space-7 : 1.75rem;
  --space-8 : 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);

}
