<%- include("../includes/head", { pageTitle: "signup" }) %> 
</header>
<body>
<%- include("../includes/header") %>
  <main>
    <h1> create a new account
    </h1>
    <form action="" method=""></form>
  </main>
<%- include("../includes/footer")   %>