<%- include("../includes/head", { pageTitle: "signup" }) %> 
<link rel="preconnect" href="/public/styles/forms.css">
<link rel="stylesheet" href="/public/styles/auth.css">

</head>
<body>
<%- include("../includes/header") %>
  <main>
    <h1> create a new account
    </h1>
    <form action="" method="">
      
      <p>
        <label for="email">email:</label>
        <input type="email" id="email" name="email" required>
      </p>

      <p>
        <label for="confirm-email">confirm email:</label>
        <input type="email" id="confirm-email" name="confirm-email" required>
      </p>
      <p>
        <label for="password">password:</label>
        <input type="password" id="password" name="password" minlength="6" required>
      </p>
      
      <hr>
      <p>
        <label for="fullname">full name:</label>
        <input type="text" id="fullname" name="fullname" required>
      </p>

      <p>
        <label for="street">street:</label>
        <input type="text" id="street" name="street" required>
      </p>

      <p>
        <label for="postal">postal code:</label>
        <input type="text" id="postal" name="postal"  minlength="5" maxlength="5" required>
      </p>

      <p>
        <label for="city">city:</label>
        <input type="text" id="city" name="city" required>
      </p>
      
      <button type="submit" class="btn">create account</button>
      <p id="switch-form"><a href="/login">login instead</a></p>
    </form>
  </main>
<%- include("../includes/footer")   %>